*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.container{
display: flex;
flex-direction: column;
justify-content: center;
font-family: 'PT Sans', sans-serif;
}
.welcome2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Serif', serif;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #567C8D;
}

.welcome4{
    background-color: #F5EFEB;
}

.tel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  
}
 .tel > svg {
    height: 62px;
    width: 62px;
    padding-left: 1.2em;
    
 }
 .telnumber {
    padding-left: 1.2em;
    font-family: 'PT Serif', serif;
    
 }

 .header-h4{
    font-size: 2em;
  
 }
 .social{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 0.4em;
    padding-right: 2em;
   
   
}


.ofice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background: url("./resources/StockCake-Planning\ work\ strategy_1727262120.jpg");
    background-position: center;
    background-size: 100%;
}


.site-form {
    
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    background: #C8D9E6;
    opacity: 0.6;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
   border-radius: 1em;
   width: 45em;
    
  }
  .site-form-container{
    display: flex;
    flex-direction: row;
   flex-wrap: nowrap;
  
   
  }

  .site-form-container > form{
    
    box-sizing: border-box;
  }
  
 

  .entry-title {
    font-weight: 400;
    font-size: 2.5rem;
    border: 5px solid #C8D9E6 ;
   background-color:#C8D9E6 ;
   border-radius: 8px;
   margin-left: 1em;
    padding: 0;
    padding-left: 1em;
  }

  .site-form> a {
    text-decoration: none;
  }
  .site-form button {
    background: #C8D9E6;
   margin-top: 1em;
    margin-right: 1em;
    margin-left: 5.5em;
    border-radius: 8px;
    display: flex;
    
   
  }
  .button-primary{
    text-decoration: none;
  }
  .button-primary:hover {background-color: #567C8D}
  .home-footer{
    background:   #567C8D;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'PT Serif', serif;
    padding-top: 3.2em;
    padding-bottom: 3.2em;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
