
.container-emplooye{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
        height: 46em;
        background: url("./resources/pexels-rdne-7310202.jpg");
        background-position: center;
        background-size: 100%;
        padding-top: 1em;
}

.emplooye-panel{
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 22em;
        width: 20%;
}
.add-employee-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 38em;
    width: 55%;
    background-color: #567C8D;
    border-radius: 8px;
   opacity: 0.95;
}
.side-by-side{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 7em;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 90%;
}

.employee-form{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 6.5em;
    background-color: #C8D9E6;
    border-radius: 8px;
    width: 80%;
}

