*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
   
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.social2 {
   display: flex;
   flex-direction: row;
   gap: 25%;
   padding-right: 1em;
}

.social2-ul{
    list-style-type: none;
    display: flex;
   flex-direction: row;
   gap: 25%;
   padding-right: 1em;
}
.social2-ul-li{
    border-radius: 8px;
    
}
.social2 > a, .social2 > svg{
    border-radius: 8px;
}
.social2 > svg:hover {background-color:  #F5EFEB}
.social2 > a:hover {background-color:  #F5EFEB}
.social2-ul-li:hover {background-color:  #F5EFEB}

.container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items:start;

font-family: 'PT Sans', sans-serif;
width: 100%;
    height: 46em;
    background: url("./resources/pexels-rdne-7310202.jpg");
    background-position: center;
    background-size: 100%;
   
}

.requests-panel{
   
    display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-bottom: 26.5em;
  
}

.requests-table{
    display: flex;
  flex-direction: column;
  align-items: end;
  background-color: red;
width: 80%;
  margin-bottom: 20em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;
  padding-bottom: 4em;
  border-radius: 8px;
  background-color: #567C8D;
}



.manager-nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.manager-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items:flex-start;
    height: 100%;
    list-style-type: none;
    background-color: #C8D9E6;
    margin-left: -1.8em;
    border-radius: 8px;
}


.manager-nav-li {
    /* border: 1px solid black; */
    border-radius: 8px;
   padding-top: 0.8em;
   padding-bottom: 0.8em;
   padding-left: 1em;
   padding-right: 1em;
}
.bell {
    height: 2.5em;
    width: 2.5em;
    
}
.li-with-bell{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}
.manager-nav-li:hover {background-color: #567C8D}

.table_component {
    overflow: auto;
    width: 100%;
    border-radius: 8px;
}

.table_component table {
    
    height: 100%;
    width: 100%;
    table-layout:auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
   
}

.table_component caption {
    caption-side: top;
    text-align: left;
    
}

.table_component th {
    border: 1px solid #dededf;
    background-color: #C8D9E6;
    color: #000000;
    padding: 5px;
    
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #c0bebe;
    opacity: 0.7;
    color: #000000;
    padding: 5px;
    
}
.a-min, .a-max, .a-exit{
    border-radius: 8px;
}
.a-min:hover{background-color: #F5EFEB}
.a-max:hover{background-color: #F5EFEB} 
.a-exit:hover{background-color:  #F5EFEB}
   
.exit-minimize{
    display: flex;
    flex-direction: row;
    gap: 1.2em;
    padding-bottom: 1.32em;
    margin-right: 1em;
}


.approve-bnt:hover {background-color: rgb(42, 226, 36);}
.decline-btn:hover {background-color: rgb(231, 12, 12);}
 
.btn-apr-decl{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.approve-bnt, .decline-btn{
    border-radius: 8px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: 600;
    
}

.exit-table, .table-th, .table-td{
    text-align: center;
}

